DB_URL=
PORT=


#JWT
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_EXPIRES_IN=


#EMAIL
USER_EMAIL=
USER_PASS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=


#Encryption
Encryption_SECRET=

#Hashing
SALT_ROUNDS=


#Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET= 
CLOUD_FOLDER_NAME=